@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start: transparent;
  --background-end: #113537;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #113537;
}

/* .md:flex-row {
  @apply flex-row;
}

.md:flex-wrap {
  @apply flex-wrap;
}

.md:w-1/2 {
  @apply w-1/2;
} */
